
/* Searchbar */

.background {
    background-image: url("../Images/what-the-hex-dark.png");
}

.center {
    margin: auto;
    margin-top: 30%;
    width: 80%;
    padding: 10px;
}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}
.active-cyan-3 input[type=text] {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}
.active-cyan-3 .fa, .active-cyan-4 .fa {
    color: #4dd0e1;
}